#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(32, 33, 36);
}

/*|| CENTERING CLASSES */
.centerFlexVert {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centerFlexHoriz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*|| BACKGROUND COLORS */
.bgcolor1 {
  background-color: rgb(32, 33, 36);
}

.bgcolor2 {
  background-color: rgb(40, 44, 47);
}

.bgcolor3 {
  background-color: rgb(50, 54, 57);
}

.bgcolor4 {
  background-color: rgb(214, 214, 215);
}

.textcolor1 {
  color: rgb(214, 214, 215);
}

.textcolor2 {
  color: rgb(32, 33, 36);
}

.white {
  background-color: white;
  color: black;
}

.gray {
  background-color: rgb(231, 231, 231);
  color: black;
}

/*|| TEXT COLORS */
.redError {
  color: rgb(189, 0, 0);
}

.grayLink {
  color: rgb(71, 71, 71);
}

.shadowed {
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.103);
}
