#calendarPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

/*Responsive sizing width when stretching really wide*/
@media (min-width: 1200px) {
  .calendar {
    max-width: 1200px;
  }
}

/*Holds 3: calendarTop, weekdays, selectionarea (container1)*/
.calendar {
  width: 80%;
  min-width: 750px;
  min-height: 900px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  border-radius: 10px;
}

/*TOP OF CALENDAR MONTH SELECTION*/
.calendarTop {
  width: 98%;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-grow: 2;
}

#monthButton {
  font-family: Calibri;
  font-weight: 600;
}

/*DATE INPUT*/
#dateInput {
  display: flex;
  align-items: center;
  font-family: Calibri;
  gap: 10px;
  height: 100%;
  font-size: 32px;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  border-radius: 10px;
  border-style: none;
}

#dateInput select {
  appearance: none;
  font-size: 30px;
  font-family: Calibri;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
}

.calButton {
  height: 60px;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 30px;
}

.lrbutton {
  border-radius: 10px;
  border-style: none;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 30px;
}

#rocket {
  border-style: none;
  height: 32px;
  width: 32px;
  border-radius: 10px;
  background-color: rgb(248, 10, 10);
}

/*WEEKDAY BAR*/
.weekDays {
  flex-grow: 1;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  column-gap: 5px;

  font-size: 1.1em;
}

.dayOfWeek {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#sunday {
  border-top-left-radius: 10px;
}

#saturday {
  border-top-right-radius: 10px;
}

/*DAY BOXES ON CALENDAR*/
.calContainer {
  flex-grow: 6;
  user-select: none;
  border-radius: 10px;

  width: 100%;
  height: 90%;

  padding: 10px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/*VISELECT*/
.selection-area {
  background-color: rgba(158, 228, 255, 0.329);
  /*background: rgba(46, 115, 252, 0.11);*/
  border: 1px solid rgba(142, 184, 255, 0.81);
  border-radius: 0.1em;
}
.calContainer > div.selected {
  background: #233857;
}

/*THAT ONE BUTTON*/
.onButton {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  transition: 0.3s;
}

.offButton {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  transition: 0.3s;
}
