#calendarPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Responsive sizing width when stretching really wide*/
@media (min-width: 1200px) {
  .calendar {
    max-width: 1300px;
  }
}

/*Holds 3: calendarTop, weekdays, selectionarea (container1)*/
.calendar {
  width: 80%;
  min-width: 550px;
  min-height: 900px;

  background-color: rgba(241, 241, 241, 0.61);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  /*
  background-color: orange;
  background-color: rgba(41, 41, 41, 0.507);
  background-color: rgba(41, 41, 41, 0.507);
  border-style: solid;
  border-color: rgb(92, 92, 92);
  */
  border-radius: 10px;
}

/*TOP OF CALENDAR MONTH SELECTION*/
.calendarTop {
  flex-grow: 2;

  margin: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
}

#monthButton {
  font-family: Calibri;
  font-weight: 600;
}

/*DATE INPUT*/
#dateInput {
  display: flex;
  align-items: center;

  font-family: Verdana;

  gap: 5px;
  height: 100%;
  font-size: 32px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 10px;
  border-style: none;
}

#dateInput select {
  appearance: none;
  font-size: 30px;
  font-family: Calibri;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  border-style: none;
}

.calButton {
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 32px;
  background-color: rgb(0, 48, 66);
}

#rocket {
  border-style: none;
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

/*WEEKDAY BAR*/
.weekDays {
  flex-grow: 1;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  column-gap: 5px;
}

.dayOfWeek {
  background-color: rgb(255, 255, 255);
}

#sunday {
  border-top-left-radius: 10px;
}

#saturday {
}

/*DAY BOXES ON CALENDAR*/
.container1 {
  flex-grow: 6;
  user-select: none;
  /*background-color: rgba(25, 26, 83, 0.315);*/
  /*background-color: pink;*/
  border-radius: 5px;
  width: 100%;
  height: 90%;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/*VISELECT*/
.selection-area {
  background-color: yellow;
  /*background: rgba(46, 115, 252, 0.11);*/
  border: 2px solid rgba(98, 155, 255, 0.81);
  border-radius: 0.1em;
}

.selectable {
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}

.container1 > div.selected {
  background: #5f9efc;
}

/*MODAL WINDOW*/
.closeButton {
  margin-left: 91%;
  margin-top: 1%;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 1000px;
  align-items: center;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.Modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}
